@{
    ViewBag.Title = "我来回答";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-width">

    <header class="header-top rel">
        <a class="top-back" onclick="GoBack();"></a>
        <h1>我来回答</h1>
    </header>

    <div class="content-width answer-huida-width">

        <div class="chief-answer clearfix">
            <span class="title f-left text-otw">主要问题：</span>
            <p class="content f-left">请问，玉米叶子发黄，而且很容易折断，是什么引起的？</p>
        </div>
        <div class="wlhd-container">
            <h3>我来回答</h3>
            <textarea class="wlhd-container-shuru" placeholder="我来说几句"></textarea>
            <a href="#" class="wlhd-sumbit mar-top-30">提交</a>
        </div>

    </div>

</div>
